MinecraftCommandGuiWeb/venv/
MinecraftCommandGuiWeb/djangoVenv/
MinecraftCommandGuiWeb/djangoLaptopVenv/
/MinecraftCommandGuiWeb/minecraftCommandGui/minecraftCommandGui/secret_key.txt
/MinecraftCommandGuiWeb/.idea/MinecraftCommandGuiWeb.iml
/MinecraftCommandGuiWeb/.idea/misc.xml
/MinecraftCommandGuiWeb/.idea/MinecraftCommandGuiWeb.iml
/MinecraftCommandGuiWeb/.idea/MinecraftCommandGuiWeb.iml
