MinecraftCommandGuiWeb/venv/
MinecraftCommandGuiWeb/djangoVenv/
MinecraftCommandGuiWeb/djangoLaptopVenv/
/MinecraftCommandGuiWeb/minecraftCommandGui/minecraftCommandGui/secret_key.txt
MinecraftCommandGuiWeb/.idea/
